#speakers-container {
  display: flex;
  justify-content: center;

  background-color: #191A18;
  font-family: "OCR A Extended";
}

.box-container-main {
  margin-top: 20px;
  margin-right: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.box-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
  margin-right: 16px;
}  
  
.container {
  display: flex;
  width: 500px;
  height: 180px;

  margin: 0px; 

  overflow: hidden; 
  background-color: black;

  color: #65B32E;
  font-family: "OCR A Extended";
}  
  
.image-container {
  flex: 0 0 auto;
} 
  
.profile {
  height: 125px;
  width: 100px;

  margin-left: 20px;
  margin-top: 20px;

  border: 5px solid #264413;
  border-radius: 3px;
} 
  
.text-container {
  flex: 1;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0px;
  
  text-align: justify;
  font-size: small;
}

.container2 {
  display: flex;
  height: 40px;
  width: 500px;

  margin: 0px;

  overflow: hidden;

  background-color: #264413;

  color: white;
}
  
.text-container2 {
  flex: 1;

  margin-top: 8px;
  margin-left: 20px;
  
  font-size: larger;
  text-align: justify;
}

.text-container2 p {
  margin: 0;
}