#sponsors-container {
  display: flex;
  justify-content: center;

  background-color: #191A18;
  font-family: "OCR A Extended";
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 40%;
  height: 100px;
  width: auto;

  margin-top: 10px;
}

.box-container-main {
  margin-top: 20px;
  margin-right: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;
  margin-right: 16px;
}

.image-container {
  flex: 0 0 auto;
}

.text-container {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0px;

  text-align: left;
  font-size: small;
  line-height: 120%;
}

.text-container2 {
  flex: 1;
  margin-top: 8px;

  font-size: larger;
  text-align: center;
  margin-bottom: 4px;
}

.text-container2 p {
  margin: 0;
}

.text-container p {
  font-size: 1rem !important;
}

.container2 {
  width: 330px;

  border: 1px solid #000000;

  overflow: hidden;

  background: linear-gradient(to bottom,
      #0F1B07,
      #0F1B07 50%,
      #122108 50%,
      #122108);

  background-size: 100% 10px;
  color: white;
  height: 300px;
  font-family: "OCR A Extended";
}
